@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  background-color: #80ddbe;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #337576;
  padding-bottom: 20px;
}

.header h1 {
  margin: 8px 0;
  color: white;
}

.filter input {
  font-size: x-large;
  border-radius: 5px;
  padding: 0 2rem;
}

.filter label {
  font-size: x-large;
  padding: 0 0.5rem;
  padding-bottom: 0.5rem;
}

.container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  gap: 2rem;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  background-color: #b5e7fd;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.card .number {
  position: absolute;
  top: -15px;
  left: -20px;
  font-size: 20px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(236, 223, 223);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.btn-group button {
  outline: none;
  border: none;
  width: 150px;
  padding: 0.3rem 0;
  margin: 1rem;
  font-size: 17px;
  color: white;
  background-color: #b74555;
  border-radius: 8px;
  cursor: pointer;
}

/* Pokemon component */
.content {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  top: 100px;
  right: 10px;
}

.content img {
  margin: 2rem;
  height: 180px;
}

.content h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.abilities {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.abilities .group {
  color: white;
  background-color: #224708;
  opacity: 0.75;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  font-size: 12px;
  border-radius: 8px;
}

/* Loader */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.kinetic {
  position: relative;
  height: 80px;
  width: 80px;
}

.kinetic::after,
.kinetic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: white;
  animation: rotateA 2s linear infinite 0.5s;
}

.kinetic::before {
  transform: rotate(90deg);
  animation: rotateB 2s linear infinite;
}

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
